
= form_for [@survey, @question] do |f|
  = f.label :description
  = f.text_field :description
  %br
  = f.fields_for :options do |option_form|
    = option_form.label 'Option'
    = option_form.text_field :description
    %br
    %br
  .actions
    = f.submit

= link_to 'Questions', survey_questions_path(@survey)
