%p#notice= notice

%h3 Survey Name :
= @survey.name

%h3 Survey Type :
= @survey.survey_type

%h3 Survey Date :
= @survey.conducted_on

%h3 Survey People Count :
= @survey.count_people

%h3 Survey Questions :
= link_to 'Questions in Survey', survey_questions_path(@survey.id)
%br
%br
= link_to 'Edit', edit_survey_path(@survey.id)
|
\#{link_to 'Back', surveys_path}
